*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html{
	font-family: "Times New Roman", serif;
	font-size: 14px;
	font-weight: 600;
}

footer{
	font-size: 10px;
	font-weight: 300;
}
.container{
	width: 100%;
}

.row{
	width: 100%;
}

.grid{
	clear: both;
	display: block;
	width: 100%;
	float: left;
}

.column {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
	float: left;
  height: auto;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
 
.column.two-thirds {
	width: 60%;
	margin-left: 3%;
	margin-right: 3%;
}
.column.third {
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.column.flow-opposite { float: right; }

.grid img{
	display: block;
	float: left;
	height: auto;
	width: 100%;
	max-height: 300px;
	max-width: 100%;
}  

.screen{
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	z-index: 2000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.screen:hover {
	opacity: 1;
}

.caption{
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	height: 30%;
	margin: 0;
	position: relative;
}
